.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 15vh;
  margin-left: 30vw;
  margin-right: 30vw;
}

.headingContainer {
  margin: 20px;
}

.heading {
  font-size: 24px;
  font-weight: bold;
}

.card {
  background-color: white;
  padding: 48px;
  border: 1px #bacdd8 solid;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardBody {
  display: flex;
  justify-content: center;
}
